
body { margin: 0; padding: 0; font-family: "Georgia", serif; }
ul, ol { margin: 0 2em; padding: 0; }
h1, h2, h3 { margin: 0; padding: 0; }
p { margin-top: 0; }

/* Tell WebKit to style search fields as text inputs. */
input[type="search"] { -webkit-appearance: textfield; }

body { font-family: "Georgia", serif; }
h1, h2, h3 { font-family: "Helvetica Neue", "Helvetica", sans-serif; font-weight: normal; letter-spacing: 0.05em;  }
h2 { font-size: 1.2em; }

header { padding: 1em 0; min-height: 40px; }
header h1 a { text-decoration: none; }
header div#user-details { float: right; }

header div#header-buttons a.header-button { height: 28px; width: 28px; border: solid grey 1px; }
header div#header-buttons a.header-button { text-align: center; text-decoration: none; font-weight: bold; line-height: 28px; }
header div#header-buttons input { font-size: 1.05em; margin-left: 1em; padding: 0.2em; width: 300px; }
header div#header-buttons * { display: block; float: left; margin-top: 6px; }

#container { width: 960px; margin: 0 auto; }
div#header-buttons, content { width: 460px; margin: 0 10px; }
h1#logo, #left-column, #right-column { width: 220px; }

h1#logo, div#header-buttons, #left-column, #content, #right-column { margin: 0 10px; display: inline; float: left; min-height: 10px; }
#left-column, #right-column { padding-top: 0.5em; }
#left-column h3 { font-weight: bold; }

ul.links { list-style: none; margin: 0; }
ul.links li { margin-bottom: 0.2em; }
ul.links a { text-decoration: none; }
#left-column h3 { margin-top: 1.5em; text-transform: uppercase; font-size: 0.75em; }

.ui-menu { background: white; border: solid grey 1px; border-top: 0; padding: 0; }
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active { background: #ddd; margin: 0; }
