<!doctype html>
<head>
  <meta charset='utf-8'>
  <title>{% block title %}| {{ site.name }}{% endblock %}</title>
  <link rel='stylesheet' href='{{ STATIC_URL }}poplar/style.css' />
</head>
<body>
  <div id='container'>
    <header>
      <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
    </header>
    <div id='left-column'>
{% block left-column %}
{% if request.user.is_authenticated %}
      <ul class='links'>
        <li><a href='{% url activity-feed %}'>Activity Feed</a></li>
        <li><a href='{% url everyone %}'>Everyone</a></li>
      </ul>
      
      <h3>Groups</h3>
      <ul class='links'>
      {% for group in groups %}
          <li><a href='{% url group group.slug %}'>{{ group }}</a></li>
      {% endfor %}
      </ul>
{% endif %}
{% endblock %}
    </div>
    <div id='content'>
{% block content %}
{% endblock %}
    </div>
    <div id='right-column'>
{% block right-column %}
{% endblock %}
  </div>
</body>
</head>

