{% extends "poplar/base.html" %}

{% block title %}{{ title }} {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form>
<table class='people'>
  <tr>
    <th><input type='checkbox' class='checkall'/></th>
    <th>Name</th>
  </tr>
{% for person in people %}
  <tr>
    <td><input type='checkbox' /></td>
    <td><a href='{% url person person.id %}'>{{ person }}</td>
  </tr>
{% empty %}
  <tr><td colspan='2'>No one found.</td></tr>
{% endfor %}
</table>
</form>
{% endblock %}


